%section#contact
  %div.container
    %h1.section-title.scrollimation.scale-in 
      Keep in 
      %span Touch
      with us
    %div.row
      %div.col-sm-5.contact-info.scrollimation.fade-right
        %p We specialize in the development of custom software applications using Ruby on Rails.
        
        %p We would love to hear from you.
        
        %address
          Sigma Group
          %br
          Modesto, California 95356
          %br
          (209) 222 - 8041
        
        %ul.socials
          %li
            %a{ :href => "#fakelink"}
              %i.icon-twitter"
          %li
            %a{ :href => "#fakelink"}
              %i.icon-facebook
          %li 
            %a{ :href => "#fakelink"}
              %i.icon-dribbble
          %li
            %a{ :href => "#fakelink"}
              %i.icon-google-plus

      = form_tag("/contact", method: "post", id: "contact-form", class: "col-sm-7 scrollimation fade-left") do
        = text_field_tag(:name, nil, placeholder: "Please enter your name", id: "contact-name", class: "form-control input-lg requireField")
        = text_field_tag(:email, nil, placeholder: "Please enter your email", id: "contact-mail", class: "form-control input-lg requireField")
        = text_area_tag(:message, nil, rows: 3, placeholder: "I wanna talk about...", id: "contact-message", class: "form-control input-lg requiredField")

        = submit_tag("Search", id: "contact-btn", class: "btn btn-theme btn-lg" )
        
  